*.egg-info
__pycache__

.allure_reports
.envrc
.hypothesis
.ropeproject
.venv
.vscode/

allure-results/
build/
dist/
test-results/
videos/
test-reports/
archive/

output.json
pytest_html_report.html
